<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16865537080-0jkgmcus1b4qbq02r9ucp4tu935pbpn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16865537080-0jkgmcus1b4qbq02r9ucp4tu935pbpn0</string>
	<key>API_KEY</key>
	<string>AIzaSyBiPZk6vH0kVKQx317qWNQ_sw1X7BDGOgY</string>
	<key>GCM_SENDER_ID</key>
	<string>16865537080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-c980a</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-c980a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16865537080:ios:bebe4d0897e6705b3f0acd</string>
	<key>DATABASE_URL</key>
	<string>https://mynotes-c980a.firebaseio.com</string>
</dict>
</plist>